<!DOCTYPE html>
<html>
<head>
  <title>Location</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
	  <meta property="og:url" content="http://vacationlate.com/products/1br-1ba-condo-barrier-island-station-at-duck-resort-july-27-august-3" />
  <meta property="og:title" content="1br/1ba Condo @ Barrier Island Station at Duck Resort, July 27-August 3" />
  <meta property="og:description" content="Resort:&amp;nbsp;Barrier Island Station at Duck Resort Address:&amp;nbsp;1245 Duck Road, Duck, NC&amp;nbsp; Dates:&amp;nbsp;July 27-August 3, 2013 (7 nights)&amp;nbsp; Check-in/Check-out Times:&amp;nbsp;4pm/10am Unit Size: 1br/1ba Condo (sleeps 4) Bed Arrangements:&amp;nbsp;Queen Bed, Queen Pull-out Sofa in living room Resort Description:&amp;nbsp;The oceanfront Barrier Island Station at Duck Resort is one of our most popular resorts, and here&#39;s why: sought-after oceanfront location,&amp;nbsp;outdoor grill areas, indoor &amp;amp; outdoor&amp;nbsp;pools, hot tubs, tennis, sauna, game room, fitness center, hair salon, organized activities, and of course, gorgeous, unspoiled OBX beaches&amp;nbsp;- what more could you ask for during your summer vacation?&amp;nbsp;Your spacious 1br unit sleeps up to 4 people, and offers" />
  <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0244/4695/products/BIS_Duck_aerial_extpool_medium.jpg?2897" />


  <link href="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/shop.css?2897" rel="stylesheet" type="text/css"  media="all"  />
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:300,400,700">
  
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  
  <script src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/html5shiv.js?2897" type="text/javascript"></script>
  
</head>
	
	
</head>
<body>


  <div class="wrapper">
    <header id="header" class="row">
      <div class="span12 clearfix">
        <div class="logo">
          
          <a href="http://www.vacationlate.com/"><img alt="VacationLate.com " src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/logo.png"></a>
          
        </div> <!-- /.logo -->
        <div class="cart-summary">
         
        </div> <!-- /.cart-summary -->
      </div> <!-- /.span12 -->
    </header> <!-- /#header.row -->

    <section id="nav" class="row">
      <div class="span12">
        <nav class="main">
        <ul class="horizontal unstyled clearfix">
  
  
  <li>
    <a href="http://www.vacationlate.com/pages/terms-conditions" class=""><span>Terms &amp; Conditions</span></a>
    
    
  </li>
  
  
  
  <li>
    <a href="http://www.vacationlate.com/pages/privacy-policy" class=""><span>Privacy Policy</span></a>
    
    
  </li>
  
  
  
  <li>
    <a href="http://www.vacationlate.com/pages/contact-us" class=""><span>Contact Us</span></a>
    
    
  </li>
  
  
  
  <li>
    <a href="http://www.vacationlate.com/pages/faqs" class=""><span>FAQs</span></a>
    
    
  </li>
  
  
  
  <li class="dropdown"><a href="http://www.vacationlate.com/collections/all" class=""><span>VACATIONS!</span></a>
    <ul style="opacity: 0; display: none;" class="dropdown">
      
      <li><a href="http://www.vacationlate.com/collections/hilton-head-sc">Hilton Head, SC</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/myrtle-beach">Myrtle Beach, SC</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/new-york-city-nyc-ny">New York City (NYC), NY</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/ocean-city-md">Ocean City, MD</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/orlando-fl">Orlando, FL</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/outer-banks">Outer Banks, NC</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/virginia-beach-va">Virginia Beach, VA</a></li>
      
      <li><a href="http://www.vacationlate.com/collections/williamsburg-va">Williamsburg, VA</a></li>
      
    </ul>
  </li>
  
  
  
  
  
    <li class="fr"><a href="http://www.vacationlate.com/account/login" id="customer_login_link">Login</a></li>
    
    <li class="fr"><a href="http://www.vacationlate.com/account/register" id="customer_register_link">Create account</a></li>
    
  

  <li class="show-when-fixed" id="cart-link">
    <a href="http://www.vacationlate.com/cart">Your cart (0)</a>
  </li>
</ul>
        </nav> <!-- /.main -->
        <nav class="mobile clearfix">
  <select name="main_navigation" id="main_navigation" class="fl">
    <option value="/collections/outer-banks/products/1br-1ba-condo-barrier-island-station-at-duck-resort-july-27-august-3" selected="selected">1br/1ba Condo @ Barrier Island Station at Duck Resort, July 27-August 3</option>
    
    <option value="/pages/terms-conditions">Terms &amp; Conditions</option>
    
    
    <option value="/pages/privacy-policy">Privacy Policy</option>
    
    
    <option value="/pages/contact-us">Contact Us</option>
    
    
    <option value="/pages/faqs">FAQs</option>
    
    
    <option value="/collections/all">VACATIONS!</option>
    
    <option value="/collections/hilton-head-sc">- Hilton Head, SC</option>
    
    <option value="/collections/myrtle-beach">- Myrtle Beach, SC</option>
    
    <option value="/collections/new-york-city-nyc-ny">- New York City (NYC), NY</option>
    
    <option value="/collections/ocean-city-md">- Ocean City, MD</option>
    
    <option value="/collections/orlando-fl">- Orlando, FL</option>
    
    <option value="/collections/outer-banks">- Outer Banks, NC</option>
    
    <option value="/collections/virginia-beach-va">- Virginia Beach, VA</option>
    
    <option value="/collections/williamsburg-va">- Williamsburg, VA</option>
    
    
    
  </select>
  <ul class="horizontal unstyled clearfix fr">
    
  
    <li class="fr"><a href="http://www.vacationlate.com/account/login" id="customer_login_link">Login</a></li>
    
    <li class="fr"><a href="http://www.vacationlate.com/account/register" id="customer_register_link">Create account</a></li>
    
  

  </ul>
</nav> <!-- /.mobile -->
      </div> <!-- /.span12 -->
    </section> <!-- /.row -->

    <section id="body">
      
      
<%= yield %>      
  
  
      
    </section> <!-- /#body -->

    <footer id="footer">
      
      <div class="row footer-columns">
        
        
        <section class="span4 contact-us">
          <h3>Contact Us</h3>
          VacationLate.com<br>
Email: inquiry@VacationLate.com<br>
Phone: 443-351-8363
        </section> <!-- /.span4 -->
        
        
        <section class="span4 newsletter">
       
        </section> <!-- /.span4 -->
        
      </div> <!-- /.row.footer-columns -->
      
      
      <div class="row payments-and-notices">
        <section class="span4 footer-social">
          <ul class="unstyled clearfix">
          
          
          
          
          
          
                   
                    
          
          </ul>
        </section> <!-- /.span4 -->
        <section class="span8 shop-notices">
          Copyright © 2013 VacationLate.com 
          
          | <a href="http://www.shopify.com/website" target="_blank">This website runs on Shopify</a>
        </section> <!-- /.span8 -->
      </div> <!-- /.row.payments-and-notices -->
    </footer> <!-- /#footer -->
  </div> <!-- /.wrapper -->

  <div class="wrapper payment-methods">
    <div class="row">
      
      <section class="fr span6 searchform">
        <form id="search_form" name="search" action="/search" class="clearfix">
          <input value="Go" class="submit" type="submit">
          <input class="text" name="q" type="text">
        </form>
      </section> <!-- /.span6 -->
      
      <div class="span6">
<ul class="credit-cards clearfix">
          <li><img alt="Visa" src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/icn_cc-visa.gif?2897"></li>
          <li><img alt="MasterCard" src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/icn_cc-mastercard.gif?2897"></li>
          <li><img alt="Amex" src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/icn_cc-amex.gif?2897"></li>
          
          
          <li><img alt="Discover" src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/icn_cc-discover.gif?2897"></li>
          
          
          <li><img alt="PayPal" src="http://cdn.shopify.com/s/files/1/0244/4695/t/6/assets/icn_cc-paypal.gif?2897"></li>
        </ul>
      </div> <!-- /.span6 -->
    </div> <!-- /.row -->
  </div> <!-- /.wrapper -->


</body>
</html>
